<settings>

<category label="30022">
    <setting type="sep"/>
    <setting id="recordings" label="30000" type="folder" option="writeable" default="special://temp"/>
    <setting id="ffmpeg.pipe" label="30001" type="bool" default="true"/>
    <setting id="ffmpeg.recordings" label="ffmpeg Recordings Folder (if different than Kodi path)" type="text" default="" visible="eq(-1,false)"/>

    <setting type="sep"/>
    <setting id="filename.urlencode" label="30002" type="bool" default="false" visible="false"/>
    <setting id="json" label="30003" type="bool" default="true" />
    <setting id="nfo" label="30004" type="bool" default="true" />
    <setting id="artwork" label="30005" type="bool" default="true" />

    <setting type="sep"/>
    <setting id="ffmpeg" label="30006" type="file" default=""/>
    <setting id="ffmpeg.reconnect" label="30007" type="bool" default="true"/>
    <setting id="ffmpeg.args" label="30008" type="text" default=""/>
    <setting id="ffmpeg.ext" label="30009" type="text" default="ts"/>

    <!-- <setting type="lsep" label="($p full path, $d recording directory, $f base filename)" visible="false"/> -->
    <setting id="post.command" label="30010" type="text" default=""/>

    <setting type="sep"/>
    <setting id="minutes.before" label="30011" type="number" default="1"  />
    <setting id="minutes.after" label="30012" type="number" default="1"  />
    <setting id="part.length" label="30013" type="number" default="3600" />
    <setting id="join.segments" label="30014" type="bool" deafult="true" />

    <setting type="sep"/>
    <setting id="silent" label="30015" type="bool" default="false"  />
</category>

<category label="30016">
    <setting type="sep"/>
    <setting id="external.m3u.1" label="30018" type="enum" default="IPTV Simple Client" lvalues="30031|30069|30032|30033" />
    <setting id="external.m3u.file.1" label="30019" visible="eq(-1,2)" type="file" default="" />
    <setting id="external.m3u.url.1" label="30020" visible="eq(-2,3)" type="text" default="" />
    <setting id="external.m3u.shift.1" label="30021" type="slider" default="0" range="-12,1,12" option="int"/>
    <setting id="external.m3u.archive" label="30070" type="text" default="TeleEleVidenie" lvalues="TeleEleVidenie|PlusX.tv|30071" />
    <setting id="custom.m3u.archive" label="30071" visible="eq(-1,3)" type="text" default="" />
</category>

<category label="30023">
    <setting id="service.delay.seconds" label="30024" type="number" default="20"/>
    <setting id="service" label="30025" type="bool" default="true" />
    <setting id="service.startup" label="30026" type="bool" default="true" visible="eq(-1,true)"/>
    <setting id="service.type2" label="30027" type="enum" default="Period" visible="eq(-2,true)" lvalues="30036|30034|30035" />
    <setting id="service.interval" label="30028" type="number" default="6"  visible="eq(-3,true)+eq(-1,1)" />
    <setting id="service.time" type="time" label="30029" default="03:33" visible="eq(-4,true)+eq(-2,2)"/>
</category>

<!-- <category label="Debug" visible="false">
    <setting id="debug" label="Debugging Menu Items" type="bool" default="false"  />
	<setting type="lsep" label="NOTE: This will prevent recording. Only use it for debugging."/>
    <setting id="debug.ffmpeg" label="Debug ffmpeg stdout/stderr" type="bool" default="false"  />
</category> -->

</settings>
